/* Default styles */
.dasbord {
  background-color: rgb(64, 134, 137);
  overflow: hidden;
}

.dasbord a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dasbord a:hover {
  background-color: rgb(194, 190, 190);
  color: white;
}

.content {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin: 20px;
}

.konten,
.daerah {
  flex-basis: 48%;
}

.kotak,
.baru,
.daerah.mana {
  border: 2px solid black;
  padding: 13px;
  margin-bottom: 12px;
}


@media screen and (max-width: 768px) {
  .konten,
  .daerah {
    flex-basis: 100%; 
  }
}

.baru,
.mana {
  display: block;
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  border: visible;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Add this CSS to make the links white */
.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}



.baru a,
.mana a {
  color: white;
  text-decoration: none;
}

.baru h2,
.mana h2 {
  /* Remove the space between h2 and pseudo-classes */
  margin-top: 5px;
}

.baru:hover,
.mana:hover {
  background-color: rgb(223, 220, 220);
}

body {
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url(background\ web.jpg);
}

img {
  width: 100%; /* Adjust image width to 100% for responsiveness */
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgb(64, 134, 137);
  color: white;
}
